#share {
  margin-bottom: 5rem;
}
#share ul {
  margin-top: 1rem;
  list-style: none;
  display: flex;
  align-items: center;
}
#share a {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}
#share a:first-child {
  padding-left: 0;
}
#share svg {
  fill: #ffffff;
}
